p {
    color: black;
}


:invalid {
    border: 1px solid red;
}

.chat {
    position: relative;
    left: 40%;
    top: 3%
}

.chat_messages {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 303px;
    height: fit-content;
    min-height: 350px;
    background-color: aquamarine;
}

.date_time_box {
    color: #ffff;
    font-size: 0.6rem;
    padding: 5%;
}

.message_box {
    display: flex;
    padding: .175rem .25rem;
    word-wrap: wrap;
    max-width: 245px;
    background-color: #A40000;
    border-radius: .25rem;
    margin-bottom: 1%;
}

.msg_txt {
    color: #ffff;
    font-size: .85rem;
    max-width: 80%
}

.msg_geo {
    color: #ffff;
    font-size: .5rem;
}

.input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 3px solid #ced4da;
    border-radius: .25rem;
    width: 300px;
}

.modal {
    position: absolute;
    padding: .375rem .75rem;
    background-color: bisque;
    top: -200px;
    left: 500px;
}

.modal.active {
    top: 200px;
}

.record {
    position: relative;
    right: 30px;
    cursor: pointer;
}

.done_record {
    position: relative;
    cursor: pointer;
    right: 60px;
}

.record_duration {
    position: relative;
    cursor: pointer;
    right: 50px;
}

.cancel_record {
    position: relative;
    cursor: pointer;
    right: 40px;
}

.media_icon {
    display: none;
}

.media_icon.active {
  display: inline-block;
}

audio {
    max-width: 200px;
    height: 17px;
}