p {
    color: black;
}

form {
    margin-top: 200px;
}

:invalid {
    border: 1px solid red;
}

.chat {
    position: relative;
    left: 40%;
    top: 3%
}

.chat_messages {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 303px;
    height: fit-content;
    min-height: 350px;
    background-color: aquamarine;
}

.date_time_box {
    color: #ffff;
    font-size: 0.6rem;
}

.message_box {
    display: flex;
    padding: .175rem .25rem;
    word-wrap: wrap;
    max-width: 245px;
    background-color: #A40000;
    border-radius: .25rem;
    margin-bottom: 1%;
}

.msg_txt, .msg_geo {
    color: #ffff;
    font-size: .85rem;
    max-width: 80%
}



.input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 3px solid #ced4da;
    border-radius: .25rem;
    width: 300px;
}